[toolchain]
anchor_version = "0.30.1"
solana_version = "1.18.18"

[features]
seeds = false
skip-lint = false

[programs.localnet]
snitch = "SN1tChXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

[programs.devnet]
snitch = "SN1tChXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

[programs.mainnet]
snitch = "SN1tChXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[workspace]
members = ["programs/snitch"]

[dependencies]
anchor-lang = "0.30.1"
anchor-spl = "0.30.1"
